*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  
 
  html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    position: relative;
    margin: 0;
    // Fix it
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $primary;
    color: $textColor;
    font-family: $main-font2;
    font-size: 1rem;
    overflow-x: hidden;
  }

 
  #root {
    width: 100%;
    height: 100%;
  }


  // Flexbox settings
  .flex {
    display:flex;
    width: 100%;
    &-fd-c {
      flex-direction: column;
    }
    &-jc-sb {
      justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }
    &-jc-se {
        justify-content: space-evenly;
    }
    &-jc-fe {
        justify-content: flex-end;
    }
    &-jc-fs {
        justify-content: flex-start;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-fe {
        align-items:flex-end;
    }

    
  }

  // Default padding for sections

    .default-pad{
      padding:  8%;
    }



  // Transitions
  $transition: all 150ms ease-in-out;
 

  // Links 

  a, a:hover, a:focus, a:active {
    color:$linkcolor;
    text-decoration: none;
    transition: all 150ms ease-in-out;

    &:hover {
      color: $textColor;
    }
  }

  // Highlighted words
  .highlight {
    color: $detailColor;
  }
  .highlight2 {
    color: rgb(196, 113, 127);
    font-weight: 900;
  }
