@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,1&display=swap");
h1 {
  font-size: 2.5em;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #F7FFE5;
  color: #215405;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  width: 100%;
}
.flex-fd-c {
  flex-direction: column;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-jc-fe {
  justify-content: flex-end;
}
.flex-jc-fs {
  justify-content: flex-start;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-fe {
  align-items: flex-end;
}

.default-pad {
  padding: 8%;
}

a, a:hover, a:focus, a:active {
  color: #3f6927;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
a:hover, a:hover:hover, a:focus:hover, a:active:hover {
  color: #215405;
}

.highlight {
  color: #ffbfca;
}

.highlight2 {
  color: rgb(196, 113, 127);
  font-weight: 900;
}

.button {
  cursor: pointer;
  padding: 0.625rem 0.875rem;
  line-height: 0.8;
  text-align: center;
  border: 1px solid #A0C49D;
  transition: all 150ms ease-in-out;
  background-color: #F7FFE5;
}
.button:hover {
  background-color: #E1ECC8;
}

nav {
  position: relative;
  height: 50px;
  background-color: #F7FFE5;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 1.2rem;
  z-index: 1;
}
nav i {
  color: #ffbfca;
  font-size: 1.5rem;
  transition: all 150ms ease-in-out;
}
nav i:hover {
  opacity: 0.8;
  transform: scale(1.09);
}

.hero {
  height: 100%;
  background-image: url(../Media/BackgroundImages/SVG/Asset1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  border-bottom: 5px double #215405;
  gap: 10%;
}
.hero .join-classes {
  gap: 20px;
}

.classes-intro {
  height: 100%;
  background-image: url(../Media/classesIntro3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  background-color: #F7FFE5;
  background-blend-mode: luminosity;
  border-bottom: 5px double #215405;
  gap: 10%;
}
.classes-intro p {
  border-radius: 10px;
  background-color: rgba(247, 255, 229, 0.4117647059);
}

.quotes {
  height: 100%;
  background-image: url(../Media/BackgroundImages/SVG/Asset2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  border-bottom: 5px double #215405;
}

.newsletter {
  height: 50%;
  background-image: url(../Media/BackgroundImages/SVG/Asset3.svg);
  background-repeat: no-repeat;
  background-position: top 15% center;
  background-size: 150px;
  gap: 3%;
}
.newsletter input {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #E1ECC8;
}
.newsletter button {
  cursor: pointer;
  font-family: "Ysabeau Infant", sans-serif;
}

footer {
  padding: 5px 0;
  text-align: center;
  font-size: 0.8rem;
  background-color: #E1ECC8;
}

@media screen and (min-width: 768px) {
  .newsletter {
    padding: 0 0 5% 0;
  }
}
.classes {
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 30px;
  gap: 5%;
}
.classes > *:not(h2) {
  height: -moz-fit-content;
  height: fit-content;
  padding: 4% 4%;
  background-color: #A0C49D;
  border-radius: 15px;
  box-shadow: 0px 15px 41px 9px rgba(33, 84, 5, 0.51);
}
.classes > *:not(h2) > *:not(:first-child) {
  margin-top: 20px;
}
.classes > *:not(:last-child) {
  margin-bottom: 20%;
}
.classes h2 {
  color: #F7FFE5;
}
.classes img {
  width: 100%;
  mix-blend-mode: darken;
  border: 2px solid white;
  border-radius: 15px;
}
.classes p {
  margin-right: auto;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.classes ul {
  width: 100%;
  list-style: inside;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .classes {
    height: 100%;
    flex-direction: row;
    padding: 4% 2%;
    gap: 1%;
  }
  .classes > * {
    margin-bottom: 0 !important;
  }
  .classes img {
    transition: all 200ms ease-in-out;
  }
  .classes p {
    font-size: 1rem;
  }
  .classes ul {
    width: 140%;
    list-style: outside;
    font-size: 1rem;
  }
  .classes > * {
    transition: all 200ms ease-in-out;
  }
  .classes > * img {
    transition: all 200ms ease-in-out;
  }
  .classes > *:hover {
    transform: scale(1.05);
  }
  .classes > *:hover img {
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
#blogs-header {
  padding-top: 60px;
  font-family: "Sacramento", cursive;
  color: #3f6927;
  font-size: 3rem;
  margin-left: 100px;
}

.blogs {
  padding: 60px 20px 20px 20px;
  height: 100%;
  width: 100%;
  background-color: #F7FFE5;
  flex-wrap: wrap;
  gap: 20px;
}
.blogs .each-blog {
  cursor: pointer;
  gap: 10px;
  width: 95%;
  padding: 15px 15px;
  background-color: #E1ECC8;
  outline: 2px solid #215405;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.blogs .each-blog h2 {
  margin-right: auto;
  color: #3f6927;
}
.blogs .each-blog p {
  margin-right: auto;
  color: #3f6927;
}
.blogs .each-blog:hover {
  transform: scale(1.05);
  outline: 0px solid #215405;
  box-shadow: 0px 15px 41px 9px rgba(33, 84, 5, 0.51);
}
.blogs img {
  border-radius: 10px;
  max-width: 100%;
}

.about {
  height: -moz-min-content;
  height: min-content;
  width: 100%;
}
.about h2 {
  color: #ffbfca;
  margin: 10px 0;
}

.contact {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}
.contact h2 {
  margin: 10px 0;
  color: #ffbfca;
}/*# sourceMappingURL=styles.css.map */